<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% load static %}
     <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <div class="login-dark">
        <form method="POST" action="">
            {% csrf_token %}
            <h2 align="center">Sign up</h2>
            {% for message in messages %}
                    <p id="messages">{{ message }}</p>
        {% endfor %}
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
             <div class="form-group">{{ form.username.label }}: {{ form.username }}</div>
             <div class="form-group">{{ form.first_name.label }}: {{ form.first_name }}</div>
        <div class="form-group">{{ form.last_name.label }}: {{ form.last_name }}</div>
        <div class="form-group">{{ form.email.label }}: {{ form.email }}</div>
        <div class="form-group">{{ form.password.label }}: {{ form.password }}</div>
        <div class="form-group">{{ form.password2.label }}: {{ form.password2 }}</div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign up</button></div><a href="{% url "login" %}" class="forgot">Do you have an account?</a></form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>